.LPAdvMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
.LPAdvBox{
    border: 1px solid rgba(0, 0, 0, 0.338);
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 2.6px;
}
.LPAdvHead{
    margin-bottom: 20px;
}
.LPAdvHead span{
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: bold;
    text-shadow: 10px 6px 5px rgba(0,0,0,0.16);
}
.LPAdvdesc span{
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 50px;
    text-shadow: 10px 6px 5px rgba(0,0,0,0.16);
}