.DecryptionKeyDiv{
    margin-left: 35px;
    text-align: left;
    font-size: 25px;
}

.NPFootButtonDiv{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.DecryptionKeyDiv input{
    font-size: 20px;
    margin-left: 10px;

}
.Decryline{
    margin-left: 175px;
    border-width: 0 0 3px 0;
    border-style: outset;
    border-color: #00A82D;
    width: 70%;
}

.DecryptionKeyDiv input
{
    border: none;
}

.TitleDiv{
    width: 90%;
    margin-top: 40px;
    /* padding: 0 0 5px 20px; */
    height: 50px;
    /* border-width: 0 0 3px 0;
    border-style: outset;
    border-color: rgb(236, 19, 19); */
    font-size: 40px;
    border: none;
}
.TitleDiv:focus
{ 
    outline: 0;
}
.ContentDiv{
    /* display:flex; */
    margin-top: 50px;
    margin-left: 50px;
    height: 400px;
    width: 93%;
}
.SaveButtonDiv{
    margin-left: 25px;
    margin-right: 50px;
    /* padding: 5px 28px; */
    width: fit-content;
    background-color: #00A82D;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
}
.SaveButtonDiv:hover{
    background-color: #00a82dcd;
}
.SaveButtonDiv span{
    font-size: 20px;
    font-family: 'Poppins';
    color: white;
    padding: 20px;
}

.DeleteButtonDiv{


    /* margin-left: 90px; */

    width: fit-content; 
    border: 3px solid #00A82D;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.DeleteButtonDiv span{
    font-size: 20px;
    font-family: 'Poppins';
    padding: 10px;
}
.NPButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 25px;
    /* justify-content: space-between; */
    /* margin-top: 40px; */
}



.Body{
    /* text-align: left;
    display: flex;
    flex-direction: column; */
    align-items: center;
}
.Title img{
    transform:translate(10%,-5%);
    border: 1px solid grey;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.Title{
    /* display: flex;
    flex-direction: row;
    justify-content: stretch; */
    /* align-items: center;  */
    text-align: center;
    /* border-width: 0 0 3px 0;
    border-style: outset;
    border-color: rgb(236, 19, 19); */
    
}
.TitleDiv input
{
    border: none;
}
.Title input:focus{
    border: none;
}
.NPBtextarea{
    border: 2px solid rgba(0, 0, 0, 0.181);
    width: 100%;
    height: 100%;
    resize: none;
}
.Content{
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 40px;
    height: 400px;
    width: 93%;
}
textarea:focus, input:focus{ outline: 0; }
.NPBTitlemain{
    margin-left: 20px;
}
.NPBline{
    border-width: 0 0 3px 0;
    border-style: outset;
    border-color: rgb(236, 19, 19);
    width: 94%;
    
}
.NPBlinecenter
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
